@import "tailwindcss";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cursor pointer for all interactive elements */
button,
[role="button"],
[type="button"],
[type="submit"],
[type="reset"],
label[for],
a,
select,
.cursor-pointer,
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
  cursor: pointer;
}

/* Ensure disabled elements show not-allowed cursor */
button:disabled,
[type="button"]:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled,
select:disabled,
input:disabled {
  cursor: not-allowed;
}

@custom-variant dark (&:where(.dark, .dark *));